{:greeting "World!"
 :siri-et-endpoint-test "https://jansenh-dev.no.ngrok.app/siri/et"
 :siri-et-test {:siri-et-version "2.0"
                :receiver-endpoint "https://jansenh-dev.no.ngrok.app/siri/et"
                :heartbeat-interval "PT1M"
                :subscriber-ref "ENTUR_DEV"
                :subscription-identifier "9b89af9b-12a7-4f19-9266-4c6fa0554332"}
 }
